<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title> user api </title>
    </head>
    <body>
        scheduleOnline server - user api
        <hr/>
        <div class="textbox">
            <form action="/user" method="POST">
                <label for="user_input_email"> 이메일 </label>
                <input type="text" name="email" id="user_input_email"><p>

                <label for="user_input_password"> 패스워드 </label>
                <input type="text" name="password" id="user_input_password"><p>

                <label for="user_input_username"> 닉네임 </label>
                <input type="text" name="username" id="user_input_username"><p>

                <label for="user_input_gender"> 성별 </label>
                <input type="radio" name="gender" value=0>남자
                <input type="radio" name="gender" value=1>여자 <p>

                <label for="user_input_age"> 나이 </label>
                <input type="text" name="age" id="user_input_age"><p>

                <input type="submit" value="회원가입">
            </form>
        </div>
    </body>
</html>